
<style>

   .font li{
    display: inline-block;
    margin-left: 10px;
    background: rgb(234, 238, 243);
    border-radius: 50%;
    width: 27px;
    height: 27px;
    text-align: center;
    margin-top: 5px;
   }
    
    </style>
<footer id="footer" style="background:linear-gradient(black,#121212) !important;">
    <div class="footer-top" style="background:transparent;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-links">
                    <h4 style="color: white;">Useful Links</h4>
                    <ul class="text-uppercase" style="color: skyblue;">
                        <li><i class="bx bx-chevron-right"></i> <a href="/" style="color: skyblue;">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/contact" style="color: skyblue;">Contact us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/courses" style="color: skyblue;">Courses</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/login" style="color: skyblue;">Login</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-links">
                    <h4 style="color: white;">Our Services</h4>
                    <ul style="color :skyblue;">
                                              <li><i class="bx bx-chevron-right"></i> Web Development</li>
                                                <li><i class="bx bx-chevron-right"></i>App Development</li>
                                                <li><i class="bx bx-chevron-right"></i>AIML</li>
                                                <li><i class="bx bx-chevron-right"></i>Robotics</li>
                                                <li><i class="bx bx-chevron-right"></i>Block Chain Development</li>
                                            </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-info">
                    <h3 style="color: white;">About Prime</h3>
                    <div class="truncate-overflow5">
<p style="color: skyblue;">A Online/Offline platform for students to learn different kinds of skills & technologies.</p>
                    </div>
                    <h6 style="color: white;">Follow On</h6>
                    <ul class="font">
                        <li> <a href="https://www.linkedin.com/in/dipak-pund-458598249"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="https://instagram.com/dipak.pund.378?igshid=MzNlNGNkZWQ4Mg=="><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://youtube.com/@dipakpund4059"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="https://wa.me/qr/RLIZLLJTHSC2N1"><i class="fa-brands fa-whatsapp"></i></a></li>
             </ul>
            </div>
           </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright" > © Copyright <strong><span>Prime Course</span></strong>. All Rights Reserved Designed by <a href="/" target="_blank">Prime Course</a> </div>
    </div>
</footer>
</body>
</html>